body{
    font-family: "Helvetica","Arial",serif;
    color: #000;
    background-color: #fff;
}
li {
    padding: 0;
    list-style: none;
    margin: 0;
}
#slideShow {
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;

}
#preview {
    position: absolute;
}

